<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realsil.apps.bluetooth5.phone">
    <!--declare that your app is available to BLE-capable devices only-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />-->

    <!-- 避免部分Android6.0手机无法scan到设备 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name="com.realsil.apps.bluetooth5.phone.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.realsil.apps.bluetooth5.phone.MainActivity"/>
        <activity android:name="com.realsil.apps.bluetooth5.phone.longrange.LongRangeServerActivity"/>
        <activity android:name="com.realsil.apps.bluetooth5.phone.longrange.LongRangeClientActivity"/>
        <activity android:name="com.realsil.apps.bluetooth5.phone.extendedadv.AdvertiserActivity"/>
        <activity android:name="com.realsil.apps.bluetooth5.phone.extendedadv.AdvReceiverActivity"/>
        <activity android:name="com.realsil.apps.bluetooth5.phone.createbond.CreatebondActivity"/>

    </application>

</manifest>